html {
    background-image: url(/img/backgroundWhite.jpg);
    /* background-image: url(/img/backround.gif); */

    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1030;
    background-image: url(/img/backround.gif);
    color: whitesmoke;
    border-top: 1px solid rgb(165, 150, 51);
    border-bottom: 2px solid rgb(165, 150, 51);
    opacity: .8;
    min-height: 10vh;
}

header div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    /* margin-left: 20%;  Obsolete to the justify content and flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    margin: 0;
    width: 100%;
}

ul {
    display: flex;
    padding: 0;
    width: 60%;
    justify-content: space-between;
    margin: 0;
}

li {
    list-style: none;    
    height: 100%;
    width: 25%;
}

a /*links*/ {
    text-decoration: none;
    color: whitesmoke;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hover:hover {
    background-image: url(/img/backgroundWhite.jpg);
}

a:hover {
    color: black;
}


section {
    width: 100%;
    min-height: 400px;
    margin: 80px 0;
    padding: 0;
}

.sectionOne {
    /* background: rgb(100, 85, 85); */
    display: flex;
    align-items: center; /*Will help with the placement of our title*/
    justify-content: center;
    /* background-image: url(/img/foundryBackground.jpg); */
    width: 100%;
    margin-top: 3%;
}

.sectionOne > h1 {
    z-index: 20;
    position: absolute;
    width: 100%;
    margin: 15% 0 10% 10%;
    font-size: 300%;

}

h1 p {
    font-size: .3em;
}

.title {
    font-size: 1em;
    margin-bottom: 0;
    text-decoration: underline;
    color: black;

}

/* .backgroundContainer {
    position: absolute;
    width: 100%;
    z-index: -5;
} */

.sectionOne img {
    width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid whitesmoke;
    /* position: relative; */
    opacity: .5;
}

/* img::after {
    box-shadow: inset 40px 3px 10px 0 #000000;
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 15;
} */

.sectionTwo {
    background-image: url(/img/backround.gif);
    color: whitesmoke;
    font-weight: normal;
    display: flex;
    min-height: 450px;
    align-items: center;
    justify-content: space-between;
}

#philosophy {
    /* position: absolute; */
    /* margin: 0 0 50% 5%; */
}

.sectionTwo .welder {
    width: 50%;
    height: 200%;
    margin: 0;
}

.sectionTwo img {
    max-width: 100%;
    /* width: auto; */
    opacity: .8;
    /* margin-top: 3%; */
    height: 100%;
}
.sectionTwo p {
   font-size: 2rem;
    width: 45%;
    margin: auto;
    padding-top: 10px;
    /* position: absolute; */
    /* margin-left: 50%; */
    margin-top: 5%;
    /* overflow: auto;
    height: 70vh; */
}

p


p::-webkit-scrollbar {
    width: 5px;
  }
   
  p::-webkit-scrollbar-track { /*is the entire scroll column*/
    background: #ddd;
    margin-block: 2.5em; /*moves the entire scroll column around*/
    border-radius: 100vw;
  }
   
  p::-webkit-scrollbar-thumb { /*controls the little bar that goes up and down*/
    background: #666; 
    border-radius: 100vw;
  }


  p::-webkit-scrollbar-button:end:increment {
    height: 5%;
    display: block;
    background: transparent; /*We need a way to place the scroll bar in the center vertically*/
  }










footer {
    bottom: 0;
}

marquee {
    width: 100%;
    height: 30px;
    background-color: lightblue;
    color: rgb(107, 161, 179);
    /* background: black; */
    background-image: url(/img/clouds.jpg);
    font-weight: bold;
    bottom: 0;
    margin-bottom: 0;
}

i {
    margin-right: 20px;
    color: black;
}
/**********************************************************************************************/
/***********************************Media Queries**********************************************/
/*********************************************************************************************/


@media screen and (max-width: 700px) {
    .procedures {
        display: none;
    }

    .lightDark {
        display: none;
    }

    header div {
        font-size: 10px;
        width: 15%;
        margin-left: 2%;
    }
    header ul {
        width: 75%;
    }
}

@media screen and (max-width: 1662px){
    .sectionTwo img {
        width: 100%;
    }

    section p {
        width: 100%;
    }
}